/*!CK:2163110946!*//*1420564905,*/

._u_4{margin:14px auto;overflow:hidden;position:relative}._u_5{height:200px;margin-bottom:16px}._u_2{display:block;height:32px;left:0;margin:0;position:absolute;right:0;text-align:center;top:8px;z-index:100}._u_5 ._u_2{bottom:0;top:auto}._u_3{background-color:#f2f2f2;-webkit-border-radius:16px;-webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 2px 2px rgba(0, 0, 0, .2);cursor:pointer;display:table;height:28px;line-height:28px;margin:0 auto;padding-left:20px;padding-right:20px;position:relative;text-align:center;top:8px;z-index:100}._u_3:hover{text-decoration:none}._u_1{position:relative;top:-2px}._u_5 ._u_3{top:-4px}
._5qio{font-size:13px;margin:4px 12px}

#bootloader_ORSUT { height: 42px; }
.bootloader_ORSUT { display:block !important; }